html {
    background-color: black;
}

#message {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

#img {
    width: 100px;
    height: 200px;
    border:5px solid white;
    text-align: center;
}

#div {
    width: 50%;
    margin-left: 25%;
}
