html {
    background-color: black;
}

#message {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

#img {
    width: 100%;
    border:5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div {
    width: 50%;
    margin-left: 25%;
}
